<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Receta</title>
	<link rel="shortcut icon" href="https://img.icons8.com/officel/16/000000/cook-male.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="{{url_for('static', filename = 'css/receta.css')}}" rel="stylesheet">
	<link rel="stylesheet" href="{{url_for('static', filename = 'css/estilos2.css')}}">
	<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
</head>
<body>
	<header>
        <nav>
            <section class="contenedor nav">
				<div class="logo">
                    <img src="https://img.icons8.com/officel/80/000000/cook-male.png"/>
                </div>
                <div class="nombre" style="font-family: Lobster, serif; font-size: 19px;">
                    {% if uss == None %}
                    <p>CUK</p>
                    {% else %}
                    <p>{{nombre}}</p>
                    {% endif %}
                </div>
                <div class="enlaces-header" style="font-size: 16px;">
                    <a href="/">Inicio</a>
                    {% if uss == None %}
                    <a href="/login">Iniciar Sesión</a>
                    {% else %}
                        {% if tippo == 0 %}
                            <a href="#">Dashboard</a>
                        {% endif %}
                        {% if tippo == 1 %}
                            <a href="#">Publicar Receta</a>
                        {% endif %}
                    <a href="/logout">Cerrar Sesión</a>
                    {% endif %}
                </div>
                <div class="hamburguer">
                    <i class="fas fa-bars"></i>
                </div>
            </section>
        </nav>
	</header>

<div class="recipe-card">

	<aside>
		<img src={{imagen}} alt="imagen" />
	</aside>

	<article>

		<h2>{{titulo}}</h2>
		<h3>{{categoria}}</h3>

		<ul>
			<li><span class="icon icon-users"></span><span>1</span></li>
			<li><span class="icon icon-clock"></span><span>{{tiempo}}</span></li>
			<li><span class="icon icon-level"></span><span>Dificultad</span></li>
			<li><span class="icon icon-calories"></span><span>560</span></li>
		</ul>
		<h4>Resumen</h4>
		<p>{{resumen}}</p>
		<h4>Ingredientes</h4>
		<div class="h">
			<ol style= "list-style-type: circle">
				{% for x in ingredientes %}		
				<li>{{x}}</li>
				{% endfor %}
			</ol>
		</div>
		<h4>Preparación</h4>
		<div class="h">
			<ol>
				{% for i in preparacion %}
					<li>{{i}}</li>
					<br>
				{% endfor %}
			</ol>
		</div>
		<p class="ingredients"><span>Autor:&nbsp;</span>{{autor}}</p>
	</article>
</div>
</body>
</html>