<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Receta</title>
	<link href="{{url_for('static', filename = 'css/receta.css')}}" rel="stylesheet">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Kaushan+Script|Playfair+Display|Source+Sans+Pro">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
</head>
<body>

<div class="recipe-card">

	<aside>
		<img src={{imagen}} alt="imagen" />
	</aside>

	<article>

		<h2>{{titulo}}</h2>
		<h3>{{categoria}}</h3>

		<ul>
			<li><span class="icon icon-users"></span><span>1</span></li>
			<li><span class="icon icon-clock"></span><span>{{tiempo}}</span></li>
			<li><span class="icon icon-level"></span><span>Dificultad</span></li>
			<li><span class="icon icon-calories"></span><span>560</span></li>
		</ul>
		<h4>Resumen</h4>
		<p>{{resumen}}</p>
		<h4>Ingredientes</h4>
		<div class="h">
			<ol style= "list-style-type: circle">
				{% for x in ingredientes %}		
				<li>{{x}}</li>
				{% endfor %}
			</ol>
		</div>
		<h4>Preparación</h4>
		<div class="h">
			<ol>
				{% for i in preparacion %}
					<li>{{i}}</li>
					<br>
				{% endfor %}
			</ol>
		</div>
		<p class="ingredients"><span>Autor:&nbsp;</span>{{autor}}</p>
	</article>
</div>
</body>
</html>