<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CUK</title>
    <link rel="shortcut icon" href="https://img.icons8.com/officel/16/000000/cook-male.png" />
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/estilos.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <section class="contenedor nav">
                <div class="logo">
                    <img src="https://img.icons8.com/officel/80/000000/cook-male.png"/>
                </div>
                <div class="nombre" style="font-family: Lobster, serif; font-size: 18px;">
                    {% if uss == None %}
                    <p>CUK</p>
                    {% else %}
                    <p>{{nombre}}</p>
                    {% endif %}
                </div>
                <div class="enlaces-header">
                    <a href="/">Inicio</a>
                    {% if uss == None %}
                    <a href="#r">Recetas</a>
                    <a href="/login">Iniciar Sesión</a>
                    {% else %}
                        {% if tippo == 0 %}
                            <a href="/dashboard">Dashboard</a>
                        {% endif %}
                        {% if tippo == 1 %}
                            <a href="/ingresarReceta">Publicar Receta</a>
                        {% endif %}
                    <a href="/perfil">Perfil</a>
                    <a href="/logout">Cerrar Sesión</a>
                    {% endif %}
                </div>
                <div class="hamburguer">
                    <i class="fas fa-bars"></i>
                </div>
            </section>
        </nav>
        {% if uss == None %}
        <div class="contenedor">
            <section class="contenido-header">
                <section class="textos-header">
                    <h1>CUK - Recetas de Cocina</h1>
                    <p>La cocina al alcance de todos, no tendras excusas para preparar un platillo, el mejor recetario web que podrás encontrar.</p>
                </section>
                <img src="{{url_for('static', filename = 'img/primeraIlustracion.svg')}}" alt="">
            </section>
        </div>
        {% endif %}
    </header>
    <section class="about-us" id="r">
        <div class="contenedor1">
            <h2 class="titulo">Recetas Publicadas   </h2>
            <div class="contenedor-articulo">
                {% for Receta in Recetas %}
                <div class="articulo" data-aos="zoom-in-right">
                    <img src={{Receta.imagen}} alt="" class="image">
                    <h3>{{Receta.titulo}}</h3>
                    <p>{{Receta.resumen}}</p>
                    <a href="/receta/{{Receta.id}}">Ver receta</a>
                </div>
                {% endfor %}
        </div>
    </section>
    <section class="questions contenedor">
        <section class="textos-questions">
            <h1>El mejor lugar para compartir recetas</h1>
            <p>Comparte tus recetas e interactua con otros amantes de la cocina, solo inicia sesión</p>
            <a href="/login">Iniciar Sesión</a>
        </section>
        <img src="{{url_for('static', filename = 'img/terceraIlustracion.svg')}}" alt="" data-aos="zoom-out-up" data-aos-duration="2000">
    </section>

    <section class="results" id="d">
        <div class="contenedor1 conten-results">
            <section class="numbers">
                <div class="number" data-aos="zoom-in-left">
                    <h4>+8863</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, id.</p>
                </div>
            </section>
            <section class="results-text">
                <h4>Recetas destacadas</h4>
                <p>Recetas más apoyada por los usuarios.</p>
                <a href="#">Ingrese aquí</a>
            </section>
        </div>
    </section>

    <section class="contenedor1 services">
        <img src="{{url_for('static', filename = 'img/segundaIlustracion.svg')}}" alt="">
        <div class="box-skills">
            <h4>Saca tu chef interno con estas recetas, cocina los platillos más deliciosos y compartelo con tus amigos o familiares </h4>
        </div>
    </section>

    <footer>
        <div class="partFooter">
            <img src="" alt="">
        </div>
        <div class="partFooter">
            <h4>Contáctenos</h4>
            <p>cuk-contact@gmail.com</p>
        </div>
        <div class="partFooter">
            <h4>Acerca de</h4>
            <a href="#">Sobre nosotros</a>
            <a href="#d">Recetas destacadas</a>
            <a href="#">Reglas de la comunidad</a>
        </div>
        <div class="partFooter">
            <h4>Redes sociales</h4>
            <div class="social-media">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename = 'js/main.js')}}"></script>
</body>

</html>