<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Registrar</title>
  <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
  <script src="{{url_for('static', filename = 'js/validaciones.js')}}"></script>
</head>

<body>
  <div class="wrapper">

    <div class="title">Registrar</div>

      <form method="POST" onsubmit="return validar();" >
        <div class="field">
          <input type="text" name="nombre"  maxlength="25" required>
          <label>Nombre</label>
        </div>

        <div class="field">
          <input type="text" name="apellido" maxlength="25" required >
          <label>Apellidos</label>
        </div>

        <div class="field">
          <input type="text" name="usuario" id="usuario" maxlength="25"  onkeypress="return soloLetras(event);" required>
          <label>Usuario</label>
        </div>
        
        <div class="field">
          <input type="password" name="contrasena" id="pass1" maxlength="25" required>
          <label>Contraseña</label>
        </div>

        <div class="field">
          <input type="password" id="pass2" maxlength="25" required>
          <label>Confirmar Contraseña</label>
          <div id="msg">
            Las contraseñas no coinciden
          </div>
        </div>

      <div class="field">
        <br>
        <input type="submit" value="Registrar" required >
      </div>

      <div class="signup-link">
        <a href="login">Regresar al Inicio de Sesión</a>
      </div>
      {% if error == True %}
        <div id="msga">
          Este usuario ya esta registrado
        </div>
      {% elif error=="r" %}
      <div id="msgt">
        Se ha registrado correctamente
      </div>
        {% endif %}
    </form>
  </div>
</body>
</html>