<!doctype html>
<html class="no-js" lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/officel/16/000000/cook-male.png">
    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/metisMenu.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/slicknav.min.css')}}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/typography.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/default-css.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/responsive.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <!-- modernizr css -->
    <script src="{{url_for('static', filename = 'assets/js/vendor/modernizr-2.8.3.min.js')}}"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="/dashboard"><img src="https://img.icons8.com/officel/100/000000/cook-male.png" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li><a href="/dashboard"><i class="ti-dashboard "></i> <span>Dashboard</span></a></li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-layout-cta-center "></i><span>Recetas</span></a>
                                <ul class="collapse">
                                    <li ><a href="/dashboard/recetasPublicadas">Recetas Publicadas</a></li>
                                    
                                    <li><a href="index3.html">Generar reporte de recetas</a></li>
                                </ul>
                            </li>
                            <li><a href="/dashboard/comentarios"><i class=" ti-comment-alt "></i> <span>Comentarios</span></a></li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-thumb-up "></i><span>Reacciones</span></a>
                                <ul class="collapse">
                                    <li><a href="reacciones.html">Ver reacciones</a></li>
                                    <li><a href="linechart.html">Agregar reacciones</a></li>
                                </ul>
                            </li>
                            
                            <li class="active">
                                <a href="javascript:void(0)" aria-expanded="true"><i class=" ti-user "></i><span>Usuarios</span></a>
                                <ul class="collapse">
                                    <li><a href="/dashboard/usuarios">Usuarios Registrados</a></li>
                                    <li class="active"><a href="/dashboard/usuarios/registrar">Registrar Usuario</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <h6 class="page-title pull-right" style="font-family: Lobster, serif;" >CUK</h6>
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                            <li class="dropdown">
                                <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                                    <span>1</span>
                                </i>
                                <div class="dropdown-menu bell-notify-box notify-box">
                                    <span class="notify-title">You have 1 new notifications <a href="#">view all</a></span>
                                    <div class="nofity-list">
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                            <div class="notify-text">
                                                <p>You have Changed Your Password</p>
                                                <span>Just Now</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-comments-smiley btn-info"></i></div>
                                            <div class="notify-text">
                                                <p>New Commetns On Post</p>
                                                <span>30 Seconds ago</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Usuarios</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="recetasPublicadas.html">Usuarios</a></li>
                                <li><span>Registrar Administrador</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">{{nombre}}<i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/">Vista de Usuario</a>
                                <a class="dropdown-item" href="/perfil">Modificar Perfil</a>
                                <a class="dropdown-item" href="/logout">Cerrar Sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->
            <div class="main-content-inner">
                <!-- Input Sizes Rounded start -->
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Registrar Administrador</h4>
                            <input required id="nombre" class="form-control form-control-lg input-rounded mb-4" type="text" placeholder="Nombre">
                            <input required id="apellido" class="form-control form-control-lg input-rounded mb-4" type="text" placeholder="Apellido">
                            <input required id="usuario" class="form-control form-control-lg input-rounded mb-4" type="text" placeholder="Usuario" onkeypress="return soloLetras(event);">
                            <input required id="pass1" class="form-control form-control-lg input-rounded mb-4" type="password" placeholder="Contraseña">
                            <input required id="pass2" class="form-control form-control-lg input-rounded mb-4" type="password" placeholder="Confirmar Contraseña">
                            <div class="pull-right">
                                <button type="button" onclick="agregar()" class="btn btn-rounded btn-success mb-3 ">Agregar Administrador</button>
                                <button type="button" onclick="location.href='/dashboard/usuarios'" class="btn btn-rounded btn-danger mb-3">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Input Sizes Rounded end -->
               
               
               
        	</div>
        	<!-- main content area end -->

    <script>
        function agregar()
        {
            var nombre=document.querySelector('#nombre').value
            var apellido=document.querySelector('#apellido').value
            var usuario=document.querySelector('#usuario').value
            var pass1=document.querySelector('#pass1').value
            var pass2=document.querySelector('#pass2').value

            if(nombre!=="" && apellido!=="" && usuario!=="" && pass1!="" && pass2!=="")
            {
                    if(pass1===pass2)
                    {
                        var objeto = {
                        'nombre':nombre,
                        'apellido':apellido,
                        'usuario':usuario,
                        'password':pass1
                    }
                    console.log(objeto)
                    fetch(`/dashboard/newUser/${usuario}`, {
                    method: 'POST',
                    body: JSON.stringify(objeto), 
                    headers:{
                        'Content-Type': 'application/json'
                    } 
                    }).then(res => res.json())
                    .catch(error => {
                        console.error('Error:', error)
                        alert("Ocurrio un error")
                    })
                    .then(response =>{
                        console.log('Success:', response);
                        alert(response.message)
                        location.href="/dashboard/usuarios"
                    }) 
                }
                else
                {
                    alert('Las contraseñas no coinciden')
                }
            }
            else{
                alert('Llene todos los campos')
            }
        }

        function soloLetras(e) 
        {
            textoArea = document.getElementById("usuario").value;
            var total = textoArea.length;
            if (total == 0) 
            {
                key = e.keyCode || e.which;
                tecla = String.fromCharCode(key).toString();
                letras = " áéíóúabcdefghijklmnñopqrstuvwxyzÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ"; //Se define todo el abecedario que se quiere que se muestre.
                especiales = [8, 9, 37, 39, 46, 6]; //Es la validación del KeyCodes, que teclas recibe el campo de texto.
                tecla_especial = false
                for (var i in especiales) 
                {
                    if (key == especiales[i]) 
                    {
                        tecla_especial = true;
                        break;
                    }
                }

                if (letras.indexOf(tecla) == -1 && !tecla_especial)
                {
                    return false;
                }

            }
            else if (total > 0) 
            {
                if (window.event) 
                { //asignamos el valor de la tecla a keynum
                    keynum = e.keyCode; //IE
                } 
                else
                 {
                    keynum = e.which; //FF
                 }
                //comprobamos si se encuentra en el rango numérico y que teclas no recibirá.
                if ((keynum > 64 && keynum < 91) || (keynum > 47 && keynum < 58) || (keynum > 96 && keynum < 132) || keynum == 8 || keynum == 13 || keynum == 6) 
                {
                    return true;
                }
                else 
                {
                     return false;
                }

             }

        }
    </script>
   <!-- jquery latest version -->
   <script src="{{url_for('static', filename = 'assets/js/vendor/jquery-2.2.4.min.js')}}"></script>
   <!-- bootstrap 4 js -->
   <script src="{{url_for('static', filename = 'assets/js/popper.min.js')}}"></script>
   <script src="{{url_for('static', filename = 'assets/js/bootstrap.min.js')}}"></script>
   <script src="{{url_for('static', filename = 'assets/js/owl.carousel.min.js')}}"></script>
   <script src="{{url_for('static', filename = 'assets/js/metisMenu.min.js')}}"></script>
   <script src="{{url_for('static', filename = 'assets/js/jquery.slimscroll.min.js')}}"></script>
   <script src="{{url_for('static', filename = 'assets/js/jquery.slicknav.min.js')}}"></script>
   <!-- others plugins -->
   <script src="{{url_for('static', filename = 'assets/js/plugins.js')}}"></script>
   <script src="{{url_for('static', filename = 'assets/js/scripts.js')}}"></script>
</body>

</html>