<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CUK</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/estilos.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <header>
        <nav>
            <section class="contenedor nav">
                <div class="logo">
                    <img src="https://img.icons8.com/officel/80/000000/cook-male.png"/>
                </div>
                <div class="nombre" style="font-family: Lobster, serif; font-size: 19px;">
                    {% if uss == None %}
                    <p>CUK</p>
                    {% else %}
                    <p>{{nombre}}</p>
                    {% endif %}
                </div>
                <div class="enlaces-header">
                    <a href="/">Inicio</a>
                    {% if uss == None %}
                    <a href="#r">Recetas</a>
                    <a href="/login">Iniciar Sesión</a>
                    {% else %}
                        {% if tippo == 0 %}
                            <a href="/dashboard">Dashboard</a>
                        {% endif %}
                        {% if tippo == 1 %}
                            <a href="#">Publicar Receta</a>
                        {% endif %}
                    <a href="/logout">Cerrar Sesión</a>
                    {% endif %}
                </div>
                <div class="hamburguer">
                    <i class="fas fa-bars"></i>
                </div>
            </section>
        </nav>
        <div class="w3-card-2 w3-display-middle" style="width: 70%;">
            <div class="w3-container w3-padding-16" style="width: 98%;">
                <label>Nombre</label>
                <input class="w3-input w3-border w3-round-large"  disabled required type="text" value="{{nombre}}">
                <br>
                <label>Apellido</label>
                <input class="w3-input w3-border w3-round-large" disabled required type="text" value="{{apellido}}">
                <br>
                <label>Usuario</label>
                <input class="w3-input w3-border w3-round-large" disabled required type="text" value="{{uss}}">
            </div>
            <div class="w3-center w3-padding-16">
                <div class="w3-bar">
                    <button class="w3-button w3-padding w3-indigo w3-round-large w3-ripple" onclick="location.href='/perfil/modificar'">Modificar datos</button>
                    <button class="w3-button w3-round-large w3-deep-purple w3-ripple" onclick="location.href='/perfil/password'">Cambiar Contraseña</button>
                </div>
            </div> 
        </div>
    </header>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename = 'js/main.js')}}"></script>
</body>

</html>